* {
	padding: 0;
	margin: 0;
	color: white;
	text-decoration: none;
	font-family: 'Courier New', Courier, monospace;
	font-size: 1.15em;
}

body {
	background-color: rgb(0, 0, 0);
	background-image: url("https://i.pinimg.com/originals/c5/9a/d2/c59ad2bd4ad2fbacd04017debc679ddb.gif");
	background-size: 800px;
}

#card {
	width: 600px;
	height: 1000px;
	padding: 50px;
	text-align: center;
	margin: auto;
	background-color: rgb(0, 57, 8);
	border-radius: 30px;
	box-shadow: 10px 10px  1000px black inset;
}

#card img
{
	margin: 50px;
	width: 400px;
	height: 450px;
	border-radius: 60%;
}

#card h1 {
	margin: 40px;
}

#card button {
	background-color: green;
	border: none;
	margin: 80px;
	width: 500px;
	border-radius: 10px;
	height: 50px;
}
